@import "@styles/vars.module.scss";

.main{
  padding-top:  100px;
}

/*.container {
  max-width: 1100px;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}*/

.header {
  width:  100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding:  35px 35px;
}

.logo{
  padding:  5px;
  margin-right: 35px;
}

.backToHome {
  margin: 3rem 0 0;
}

.footer{
  width:  100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding:  35px 35px;
}
