@import "@styles/vars.module.scss";

.BlogPreview{
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: solid 2px $black;
	.image{
		background-color: $grey_1;
		margin-bottom: 15px;
		//max-height: 400px;
		a{
			display: block;
			width: 100%; 
			display: flex;
			justify-self: center;
			align-items: center;
			//max-width: 400px;
			//margin: auto;
			img{
				
			}
		}
	}

	.title{
		display: block;
		margin-bottom: 0px;
		font-size: $font_size_heading;
	}
	.previewText{
		font-size: $font_size_body;
	}
	.author{
		font-size: $font_size_detail;
	}
	.date{
		font-size: $font_size_detail;
	}
}