/*========================================*/
//	MasterComponent
//	
//	Clone this component out to make 
//	new components.
//	
/*========================================*/

/* ================== */
/* ===== Imports ===== */
/* ================== */
@import "@styles/vars.module.scss";

/* ========================= */
/* ===== Main Component ===== */
/* ========================= */
.PlaceholderContent{
	width:100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $lightGrey;
	background-image: repeating-linear-gradient(45deg, $lightGrey, $lightGrey 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	color: $black;
	padding: 2em;
}

/* ======================== */
/* ===== Sub Component ===== */
/* ======================== */
.SubComponent{
	
}