/*========================================*/
//  Big SCSS Comment
//  
//  Put your notes here.
//  
/*========================================*/

/* ================================= */
/* ===== Flow - placeholder text ===== */
/* ================================= */
    @font-face {
        font-family: 'flow_blockregular';
        src: url('/fonts/flowblock-regular-webfont.woff2') format('woff2'),
             url('/fonts/flowblock-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

/* ==================================== */
/* ===== Roboto Mono - Primary Font ===== */
/* ==================================== */
    @font-face {
        font-family: 'roboto_monoitalic';
        src: url('/fonts/robotomono-italic-variablefont_wght-webfont.woff2') format('woff2'),
             url('/fonts/robotomono-italic-variablefont_wght-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'roboto_monoregular';
        src: url('/fonts/robotomono-variablefont_wght-webfont.woff2') format('woff2'),
             url('/fonts/robotomono-variablefont_wght-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

/* ==================================== */
/* ===== Westminster - Display Font ===== */
/* ==================================== */
    @font-face {
        font-family: 'westminsterregular';
        src: url('/fonts/westminster_regular-webfont.woff2') format('woff2'),
             url('/fonts/westminster_regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }