/*========================================*/
//  Pages SCSS
//  
//  Uses this SCSS module for page-specific styling
//  
/*========================================*/

/* ================== */
/* ===== Imports ===== */
/* ================== */
@import "@styles/vars.module.scss";


/* ================== */
/* ===== General ===== */
/* ================== */
	.heading2Xl {
		font-size: 2.5rem;
		line-height: 1.2;
		font-weight: 800;
		letter-spacing: -0.05rem;
		margin: 1rem 0;
	}

	.headingXl {
		font-size: 2rem;
		line-height: 1.3;
		font-weight: 800;
		letter-spacing: -0.05rem;
		margin: 1rem 0;
	}

	.headingLg {
		font-size: 1.5rem;
		line-height: 1.4;
		margin: 1rem 0;
	}

	.headingMd {
		font-size: 1.2rem;
		line-height: 1.5;
	}

	.list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.listItem {
		margin: 0 0 1.25em;
	}

	/* ===== Flex Row ===== */
		.row{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			//justify-content settings
			&[data-flex-justify="start"]{justify-content:flex-start;}
			&[data-flex-justify="center"]{justify-content: center;}
			&[data-flex-justify="end"]{justify-content: flex-end;}

			//align-items settings
			&[data-flex-align="start"]{align-items:flex-start;}
			&[data-flex-align="center"]{align-items: center;}
			&[data-flex-align="end"]{align-items: flex-end;}

			//gap settings
			&[data-flex-gap="small"]{gap: 0.25em;}
			&[data-flex-gap="medium"]{gap: 1em;}
			&[data-flex-gap="large"]{gap: 2.5em;}
		}

	/* ===== General Text Section ===== */
		.textSection{
			margin-bottom: 100px;
			p{
				margin-bottom: 1em;
			}
		}

/* ========================== */
/* ===== Index/Home Page ===== */
/* ========================== */
.indexPage{}

/* ===================== */
/* ===== About Page ===== */
/* ===================== */
.aboutPage{}

/* ======================= */
/* ===== Contact Page ===== */
/* ======================= */
.contactPage{}

/* ====================== */
/* ===== Posts Pages ===== */
/* ====================== */
.postPage{}

/* ====================== */
/* ===== Styleguide ===== */
/* ====================== */
.styleguide{
	.styleContainer{
		border: dashed 2px $primaryColor;
		padding: $clampMedium;
		display: flex;
		flex-direction: row;
		justify-content: center;
		//align-items: flex-start;
		flex-wrap: wrap;
		gap: 1rem;
	}
}